* {
	box-sizing: border-box;
}
body {
  background-color: #1E1E24;
}

h1 {
  color: #FFF;
  font-family: 'Ruda', sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}

.tweet {
	margin: 10px;
	float: left;
	width: 300px;
	border: #FFF solid 2px;
	padding: 10px 5px 2px 5px;
}
.list {
	width: 100%;
}
.imagen {
	display: block;
	width: 10%;
	height: 15%;
}

.text {
	color: #FFF;
}

